@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: 'Poppins-Light';
    src: url("../fonts/Poppins-Light.ttf");
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
b, button{
    font-family: 'Poppins-Regular';
}
h2, h1{
    font-family: 'Poppins-Bold';
}
h3, h4, h5{
    font-family: 'Poppins-Regular';
}
p, span, label, textarea, a{
    font-family: 'Poppins-Light';
}
ul{
    padding: 0 !important;
    margin: 0;
    list-style: none;
}

.header{
    background-color: #f2f2f2;
}
.navbar-collapse ul li{
    padding: 30px;
}

.TestCardSec,
.StressTestSec,
.StressDetailSec{
    padding: 70px 0;
}
.TestCardSec .InnerBox .col {
    background-color: rgb(215, 166, 37);
    padding: 50px 0;
    text-align: center;
    margin-right: 70px;
    display: inline-block;
    width: calc(calc(100% - 42%)/2);
    border-radius: 33px;
    position: relative;
    border: 1.5px solid rgb(157 120 24);
}
.TestCardSec .InnerBox .col:last-child{
    margin-right: 0;
}
.TestCardSec .InnerBox .col img{
    width: 111px;
    margin-bottom: 30px;
}
.TestCardSec .InnerBox .col h3{
    color: #474f59;
    font-weight: bold;
    margin-bottom: 20px;
}
.TestCardSec .InnerBox .col:hover {
    box-shadow: 2px 3px 11px #d7a625;
}
.TestCardSec .InnerBox .col:hover .HoverBtn {
    display: block !important;
    transition: 0.5s ease;
    background-color: #f77b55;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0 33px 33px;
    padding: 10px;
}
.TestCardSec .InnerBox .col:hover .HoverBtn .btnNext {
    width: 100%;
    background: transparent;
    border: 0;
    color: #f7f7f7;
    font-size: 22px;
    font-weight: bold;
}
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    background: rgb(215, 166, 37);
    margin-bottom: 50px;
    color: #fff;
    border-radius: 10px;
}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
.track .content {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Poppins-Regular';
    padding: 30px 0;
    color: #f7f7f7;
    text-shadow: 3px 4px 7px #474f59;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.StressTestSec .table {
    background: #f77b55;
    border-radius: 20px;
}
.StressTestSec .table thead{
}
.StressTestSec .table thead tr th{
    padding: 35px 12px;
}
.StressTestSec .table tr th,
.StressTestSec .table tr td{
    padding: 20px;
    text-align: center;
    font-family: 'Poppins-Regular';
}
.StressTestSec .table tr td{
    color: #474f59;
    font-size: 15px;
}
.StressTestSec .table tr:nth-child(even){
    background-color: #f7f7f7;
}
.StressTestSec .table tbody{
    background-color: #ccc;
}
.form-check-input{
    width: 1.5rem !important;
    height: 1.5rem !important;
    cursor: pointer;
}
.form-check-input:checked{
    background-color: #f77b55 !important;
    border-color: #f77b55 !important;
}
.form-check-input:checked[type=radio]{
    background-image: url("../images/tick-white.png") !important;
    background-size: 70%;
}
.form-check-input:focus{
    box-shadow: none !important;
}
@media only screen and (max-width: 768px) and (min-width: 300px){

}
@media only screen and (max-width: 1140px) and (min-width: 768px) {

}
@media only screen and (max-width: 1280px) and (min-width: 768px){

}